body {
    font-family: 'Barlow', sans-serif;
}
button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    height: 40px;
    width: 130px;
    margin-top: 30px;
    background: #cff5fa;
    border: none;
    border-radius: 15px;    
}
button:hover {
    background: #e8f9fc;
    border: 2px solid #cff5fa;
}
button:focus {
    outline: -webkit-focus-ring-color auto 0;
}
h1,
h2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #454444;
}
h2 {
    margin-top: 80px;
}
li {
    display: flex;
    justify-content: center;
}
ul {
    padding: 0;
}
input {
    margin: 0 auto;
    display: flex;
    margin-top: 60px;
}



